.recommends{
   
    width:100%;
    margin-top:60px;
    
    .head{
        height:25px;
        font-size: 16px;
        color:#005aa0;
        padding-left:5px;
        padding-bottom: 10px;
    }

    .content{
        border-top:1px solid #eee;
        padding-top: 6px;
        padding-bottom:6px;
        &:last-child{
            border-bottom:1px solid #eee;
        }
    }

    .content p{
        font-size: 12px;
        color:#333;
        padding-left:5px;
        margin-top:6px;
    }

    .space{
        margin-left:4px;
    }

}